@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
img {
  height: 150px;
  object-fit: contain;
}
.menu-items li a {
  font-size: 18px;
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.shopping-cart img {
  height: 100px;
  object-fit: contain;
}
.login,.signup {
  display: flex;
  justify-content: center;
  margin: 3rem 0px;
}
.login-form,
.signup-form {
  width: 100%;
  max-width: 600px;
}
.login-form h2,
.signup-form h2 {
  text-align: center;
}
.login-form input,
.signup-form input {
  margin: 0.3rem 0rem;
}
.login-form button,
.signup-form button {
  display: block;
  width: 100%;
}
.shopping-cart{
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}
.shopping-cart::-webkit-scrollbar {
  display: none; 
}
tr,td,th{
  border: 1px solid gray;
  border-collapse: collapse;
}
th,td{
  text-align: center;
}
.product-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-quantity button{
  border: none;
  text-decoration: none;
  background: transparent;
  font-size: 20px;
  margin: 0px 10px;
}
.product-quantity p{
  margin: 0;
  padding: 0;
}