@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
img {
  height: 150px;
  object-fit: contain;
}
.menu-items li a {
  font-size: 18px;
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.shopping-cart img{
  height: 100px;
  object-fit: contain;
}
